## SQL!!!!!

How much to you remember?

In [13]:
import sqlite3
import pandas as pd

con = sqlite3.connect('./data/flights.db')

Remember the schema.

In [15]:
schema_df = pd.read_sql("""

SELECT *
FROM sqlite_master


""", con)

schema_df

,type,name,tbl_name,rootpage,sql
0,table,airports,airports,2,"CREATE TABLE airports (\n[index] INTEGER,\n [..."
1,index,ix_airports_index,airports,3,CREATE INDEX ix_airports_index ON airports ([i...
2,table,airlines,airlines,945,"CREATE TABLE airlines (\n[index] INTEGER,\n [..."
3,index,ix_airlines_index,airlines,946,CREATE INDEX ix_airlines_index ON airlines ([i...
4,table,routes,routes,1393,"CREATE TABLE routes (\n[index] INTEGER,\n [ai..."
5,index,ix_routes_index,routes,1394,CREATE INDEX ix_routes_index ON routes ([index])

Let's get a list of all the table names

In [16]:
table_names = list(schema_df[ schema_df['type'] == 'table']['tbl_name'])

In [18]:
table_names

['airports', 'airlines', 'routes']

Now, let's step through that list and display one row from each table

In [19]:
# a query: haven't seen this yet.  Can loop through tables and give the 1st entry
# the query is a string, and we can format it
for table in table_names:
    qry = """
    SELECT *
    FROM {}
    LIMIT 1
    """.format(table)
    
    print(f'First row for table {table}')
    display(pd.read_sql(qry, con))
    print('\n\n')

First row for table airports

,index,id,name,city,country,code,icao,latitude,longitude,altitude,offset,dst,timezone
0,0,1,Goroka,Goroka,Papua New Guinea,GKA,AYGA,-6.081689,145.391881,5282,10,U,Pacific/Port_Moresby

First row for table airlines

   index id            name alias iata  icao callsign country active
0      0  1  Private flight    \N    -  None     None    None      Y

First row for table routes

,index,airline,airline_id,source,source_id,dest,dest_id,codeshare,stops,equipment
0,0,2B,410,AER,2965,KZN,2990,None,0,CR2

### Simple Query

Which country has the most airports? Which one has the least?

In [48]:
# for most airports
pd.read_sql("""

SELECT country, COUNT () as num_airports
FROM airports
GROUP BY country 
ORDER BY num_airports DESC
LIMIT 2

""", con)

# did limit 2 in case there's a tie

         country  num_airports
0  United States          1697
1         Canada           435

In [ ]:
# another way to phrase search is
# qry = """ <query> """
# then pd.read_sql(qry, con) at the end

In [55]:
# for least airports (~30 have 1 so no limit this time, did HAVING)
pd.read_sql("""

SELECT country, COUNT () as num_airports
FROM airports
GROUP BY country
    HAVING num_airports == 1
ORDER BY num_airports

""", con)

                           country  num_airports
0                          Albania             1
1                         Anguilla             1
2                            Aruba             1
3                         Barbados             1
4                            Benin             1
5                           Bhutan             1
6   British Indian Ocean Territory             1
7                          Burundi             1
8                 Christmas Island             1
9          Cocos (Keeling) Islands             1
10                          Gambia             1
11                       Gibraltar             1
12                     Isle of Man             1
13                          Jersey             1
14                  Johnston Atoll             1
15                           Korea             1
16                      Luxembourg             1
17                         Mayotte             1
18                  Midway Islands             1
19                          Monaco             1
20                         Myanmar             1
21                           Nauru             1
22                            Niue             1
23                  Norfolk Island             1
24                       Palestine             1
25                    Saint Helena             1
26                       Swaziland             1
27                          Tuvalu             1
28                     Wake Island             1
29                       West Bank             1

### Where?

Which airports are in the `Pacific/Port_Moresby` time zone? What city and country?

In [60]:
#  using WHERE clause

pd.read_sql("""

SELECT *
FROM airports
WHERE timezone == "Pacific/Port_Moresby"

""", con)

,index,id,name,city,country,code,icao,latitude,longitude,altitude,offset,dst,timezone
0,0,1,Goroka,Goroka,Papua New Guinea,GKA,AYGA,-6.081689,145.391881,5282,10,U,Pacific/Port_Moresby
1,1,2,Madang,Madang,Papua New Guinea,MAG,AYMD,-5.207083,145.7887,20,10,U,Pacific/Port_Moresby
2,2,3,Mount Hagen,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826789,144.295861,5388,10,U,Pacific/Port_Moresby
3,3,4,Nadzab,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569828,146.726242,239,10,U,Pacific/Port_Moresby
4,4,5,Port Moresby Jacksons Intl,Port Moresby,Papua New Guinea,POM,AYPY,-9.443383,147.22005,146,10,U,Pacific/Port_Moresby
5,5,6,Wewak Intl,Wewak,Papua New Guinea,WWK,AYWK,-3.583828,143.669186,19,10,U,Pacific/Port_Moresby
6,4335,5987,Wipim Airport,Wipim,Papua New Guinea,WPM,None,-8.78822,142.882,173,10,U,Pacific/Port_Moresby
7,4336,5986,Baimuru Airport,Baimuru,Papua New Guinea,VMU,None,-7.49686,144.82,27,10,U,Pacific/Port_Moresby
8,4337,5985,Nuku Airport,Nuku,Papua New Guinea,UKU,None,-3.667,142.483,750,10,U,Pacific/Port_Moresby
9,4338,5984,Tufi Airport,Tufi,Papua New Guinea,TFI,None,-9.07595,149.32,85,10,U,Pacific/Port_Moresby
10,4339,5983,Suki Airport,Suki,Papua New Guinea,SKC,None,-8.033,141.717,24,10,U,Pacific/Port_Moresby
11,4340,5982,Balimo Airport,Balimo,Papua New Guinea,OPU,None,-8.05,142.933,51,10,U,Pacific/Port_Moresby
12,4341,5981,Obo Airport,Obo,Papua New Guinea,OBX,None,-7.583,141.317,29,10,U,Pacific/Port_Moresby
13,4342,5980,Losuia Airport,Losuia,Papua New Guinea,LSA,None,-8.50582,151.081,27,10,U,Pacific/Port_Moresby
14,4343,5979,Londolovit Airport,Londolovit,Papua New Guinea,LNV,None,-3.04361,152.629,167,10,U,Pacific/Port_Moresby
15,4344,5978,Lake Murray Airport,Lake Murray,Papua New Guinea,LMY,None,-7.00992,141.494,52,10,U,Pacific/Port_Moresby
16,4345,5977,Kamusi Airport,Kamusi,Papua New Guinea,KUY,None,-7.42035,143.122,0,10,U,Pacific/Port_Moresby
17,4346,5976,Kokoda Airport,Kokoda,Papua New Guinea,KKD,None,-8.88468,147.731,1240,10,U,Pacific/Port_Moresby
18,4347,5975,Kandrian Airport,Kandrian,Papua New Guinea,KDR,None,-6.183,149.533,280,10,U,Pacific/Port_Moresby
19,4348,5974,Jacquinot Bay Airport,Jacquinot Bay,Papua New Guinea,JAQ,None,-5.6525,151.507,136,10,U,Pacific/Port_Moresby
20,4349,5973,Nissan Island Airport,Nissan Island,Papua New Guinea,IIS,None,-4.49972,154.226,52,10,U,Pacific/Port_Moresby
21,4350,5972,Ihu Airport,Ihu,Papua New Guinea,IHU,None,-7.89756,145.396,47,10,U,Pacific/Port_Moresby
22,4351,5971,Gasmata Island Airport,Gasmata Island,Papua New Guinea,GMI,None,-6.27111,150.331,23,10,U,Pacific/Port_Moresby
23,4352,5970,Tadji Airport,Aitape,Papua New Guinea,ATP,None,-3.18985,142.43,48,10,U,Pacific/Port_Moresby
24,4884,5437,Wapenamanda Airport,Wapenamanda,Papua New Guinea,WBM,AYWD,-5.6433,143.895,5889,10,U,Pacific/Port_Moresby
25,4885,5436,Vanimo Airport,Vanimo,Papua New Guinea,VAI,AYVN,-2.69717,141.302,10,10,U,Pacific/Port_Moresby
26,4886,5435,Tokua Airport,Tokua,Papua New Guinea,RAB,AYTK,-4.34046,152.38,32,10,U,Pacific/Port_Moresby
27,4887,5434,Tabubil Airport,Tabubil,Papua New Guinea,TBG,AYTB,-5.27861,141.226,1570,10,U,Pacific/Port_Moresby
28,4888,5433,Tari Airport,Tari,Papua New Guinea,TIZ,AYTA,-5.845,142.948,5500,10,U,Pacific/Port_Moresby
29,4889,5432,Misima Island Airport,Misima Island,Papua New Guinea,MIS,AYMS,-10.6892,152.838,26,10,U,Pacific/Port_Moresby
30,4890,5431,Moro Airport,Moro,Papua New Guinea,MXH,AYMR,-6.36333,143.238,2740,10,U,Pacific/Port_Moresby
31,4891,5430,Momote Airport,Momote,Papua New Guinea,MAS,AYMO,-2.06189,147.424,12,10,U,Pacific/Port_Moresby
32,4892,5429,Mendi Airport,Mendi,Papua New Guinea,MDU,AYMN,-6.14774,143.657,5680,10,U,Pacific/Port_Moresby
33,4893,5428,Kavieng Airport,Kavieng,Papua New Guinea,KVG,AYKV,-2.5794,150.808,7,10,U,Pacific/Port_Moresby
34,4894,5427,Kerema Airport,Kerema,Papua New Guinea,KMA,AYKM,-7.96361,145.771,10,10,U,Pacific/Port_Moresby
35,4895,5426,Kikori Airport,Kikori,Papua New Guinea,KRI,AYKK,-7.42438,144.25,50,10,U,Pacific/Port_Moresby
36,4896,5425,Kiunga Airport,Kiunga,Papua New Guinea,UNG,AYKI,-6.12571,141.282,88,10,U,Pacific/Port_Moresby
37,4897,5424,Kimbe Airport,Hoskins,Papua New Guinea,HKN,AYHK,-5.46217,150.405,66,10,U,Pacific/Port_Moresby
38,4898,5423,Girua Airport,Girua,Papua New Guinea,PNP,AYGR,-8.80454,148.309,311,10,U,Pacific/Port_Moresby
39,4899,5422,Gurney Airport,Gurney,Papua New Guinea,GUR,AYGN,-10.3115,150.334,88,10,U,Pacific/Port_Moresby
40,4900,5421,Daru Airport,Daru,Papua New Guinea,DAU,AYDU,-9.08676,143.208,20,10,U,Pacific/Port_Moresby
41,4901,5420,Chimbu Airport,Kundiawa,Papua New Guinea,CMU,AYCH,-6.02429,144.971,4974,10,U,Pacific/Port_Moresby
42,4902,5419,Buka Airport,Buka Island,Papua New Guinea,BUA,AYBK,-5.42232,154.673,11,10,U,Pacific/Port_Moresby
43,5551,6976,Fane Airport,Fane,Papua New Guinea,FNE,\N,-8.55,147.083,0,10,U,Pacific/Port_Moresby
44,5552,6977,Itokama Airport,Itokama,Papua New Guinea,ITK,\N,-9.2,148.25,0,10,U,Pacific/Port_Moresby
45,5553,6978,Ononge Airport,Ononge,Papua New Guinea,ONB,\N,-8.583,147.2,0,10,U,Pacific/Port_Moresby
46,5554,6979,Tapini Airport,Tapini,Papua New Guinea,TPI,\N,-8.35,146.983,0,10,U,Pacific/Port_Moresby
47,5555,6980,Wanigela Airport,Wanigela,Papua New Guinea,AGL,\N,-9.333,149.15,0,10,U,Pacific/Port_Moresby
48,5556,6981,Woitape Airport,Woitape,Papua New Guinea,WTP,\N,-8.533,147.25,0,10,U,Pacific/Port_Moresby
49,5557,6982,Awaba Airport,Awaba,Papua New Guinea,AWB,\N,-8.014,142.75,0,10,U,Pacific/Port_Moresby
50,5558,6983,Telefomin Airport,Telefomin,Papua New Guinea,TFM,\N,-5.117,141.633,0,10,U,Pacific/Port_Moresby
51,6177,7602,Bosset Airport,Bosset,Papua New Guinea,BOT,\N,-7.240833,141.092333,60,10,U,Pacific/Port_Moresby
52,6368,7793,Aiome,Aiome,Papua New Guinea,AIE,\N,-5.8,144.44,350,10,U,Pacific/Port_Moresby
53,6369,7794,Simbai,Simbai,Papua New Guinea,SIM,\N,-4,144,5450,10,U,Pacific/Port_Moresby
54,6370,7795,Ambunti,Ambunti,Papua New Guinea,AUJ,\N,-4.15,142.51,160,10,U,Pacific/Port_Moresby
55,7562,8997,Popondetta,Popondetta,Papua New Guinea,EIA,\N,-8.19999980927,147.850006104,311,10,U,Pacific/Port_Moresby
56,7568,9003,Naduri,Naduri,Papua New Guinea,None,\N,-8.93,147.73,900,10,U,Pacific/Port_Moresby

In [68]:
# 57 cities total

pd.read_sql("""

SELECT city
FROM airports
WHERE timezone == "Pacific/Port_Moresby"
GROUP BY city

""", con)

              city
0            Aiome
1           Aitape
2          Ambunti
3            Awaba
4          Baimuru
5           Balimo
6           Bosset
7      Buka Island
8             Daru
9             Fane
10  Gasmata Island
11           Girua
12          Goroka
13          Gurney
14         Hoskins
15             Ihu
16         Itokama
17   Jacquinot Bay
18          Kamusi
19        Kandrian
20         Kavieng
21          Kerema
22          Kikori
23          Kiunga
24          Kokoda
25        Kundiawa
26     Lake Murray
27      Londolovit
28          Losuia
29          Madang
30           Mendi
31   Misima Island
32          Momote
33            Moro
34     Mount Hagen
35          Naduri
36          Nadzab
37   Nissan Island
38            Nuku
39             Obo
40          Ononge
41      Popondetta
42    Port Moresby
43          Simbai
44            Suki
45         Tabubil
46          Tapini
47            Tari
48       Telefomin
49           Tokua
50            Tufi
51          Vanimo
52        Wanigela
53     Wapenamanda
54           Wewak
55           Wipim
56         Woitape

In [67]:
# Only one country in that TimeZone
pd.read_sql("""

SELECT country
FROM airports
WHERE timezone == "Pacific/Port_Moresby"
GROUP BY country

""", con)

            country
0  Papua New Guinea

### Further down the rabbit hole!

Which countries have between 50 and 100 airports?

In [58]:
pd.read_sql("""

SELECT country, COUNT () as num_airports
FROM airports
GROUP BY country
    HAVING num_airports BETWEEN 50 AND 100
ORDER BY num_airports

""", con)

             country  num_airports
0            Finland            51
1        Switzerland            53
2              Kenya            55
3        New Zealand            56
4   Papua New Guinea            57
5           Thailand            58
6          Venezuela            58
7             Greece            60
8        Philippines            64
9             Norway            69
10          Colombia            72
11            Turkey            77
12              Iran            81
13             Spain            84
14            Sweden            86
15             Italy            92
16            Mexico            94

### Joins!

What is the name of the airline has the most routes? The fewest?

In [64]:
# Airline with the most routes.  But no join needed?

pd.read_sql("""

SELECT airline, COUNT () as num_routes
FROM routes
GROUP BY airline 
ORDER BY num_routes DESC
LIMIT 2

""", con)

  airline  num_routes
0      FR        2484
1      AA        2354

In [66]:
#Airlines with fewest routes

pd.read_sql("""

SELECT airline, COUNT () as num_routes
FROM routes
GROUP BY airline
    HAVING num_routes == 1
ORDER BY num_routes

""", con)

  airline  num_routes
0      9D           1
1      EW           1

### Subqueries/CTEs!

What is the average number of routes per airline?

In [71]:
pd.read_sql("""

SELECT airline, COUNT () as num_routes
FROM routes
GROUP BY airline 
ORDER BY num_routes

""", con)

    airline  num_routes
0        9D           1
1        EW           1
2        4B           2
3        4D           2
4        4K           2
..      ...         ...
563      US        1960
564      DL        1981
565      UA        2180
566      AA        2354
567      FR        2484

[568 rows x 2 columns]

### Multiple Joins!

What is the name of the airline with the most departing flights in the `Pacific/Port_Moresby` timezone?